* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.calendar .day {
    position: relative;
    width: calc(100% / 7);
    height: 44px;
    display: inline-block;
    background-color: white;
    z-index: 1;
    text-align: center;
}
