@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #c0c0c0
}

li, a, logout-button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #F5100D;
    text-decoration: none;
}

body {
    margin-top: 70px;
}

header {
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10%;
    padding-bottom: 20px;
    height: 70px;
    padding-right: 0;
    width: 100%;
    background-color: #2e2e2e;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    background-color: #2e2e2e;
}

.nav__links {
    list-style: none;
    background-color: #2e2e2e;
    margin-left: 0px;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
    background-color: #2e2e2e;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
    background-color: #2e2e2e;
}

.nav__links li a:hover {
    color: #f87878;
}

.logout-button {
    margin-left: 5px;
    padding: 9px 25px;
    background-color: #F5100D;
    border: none;
    border-radius: 50px;
    width: 100px;
    height: 50px;

    cursor: pointer;
    transition: all 0.3s ease 0s
}

.logout-button:hover {
    background-color: #f87878;
}

.logout-button > p {
    background-color: rgba(0,136,169,0);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}

.logo {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    background-color: #2e2e2e;
}

.backgroundLogin {
    background-image: url('https://images.unsplash.com/photo-1597687210367-a4915552d886?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZmVycmFyaSUyMDQ4OHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80');
    background-size: 100%;
    background-position: 0 -350px;
    height: 900px;
    padding: 20px;
}

.backgroundSignUp {
    background-image: url('https://www.leipzig.travel/fileadmin/mediamanager/POI_Datenbank/11_Architektur/Porsche-Werk-Leipzig_Architektur-Teststrecke-Auto_leipzig.travel.jpg');
    background-size: 100%;
    background-position: 0 -300px;
    height: 900px;
    padding: 20px;
}

.signUp {
    position: relative;
    right: 30%;
}

.login {
    position: relative;
    right: 25%;
}

.loginButton {
    margin-top: 15px;
}

.profileTable {
    position: absolute;
}
