@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400&display=swap');

* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, logout-button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #F5100D;
    text-decoration: none;
}

html, body {
    height: 100vh;
}

body {
    margin-top: 70px;
}

header {
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10%;
    padding-bottom: 20px;
    height: 70px;
    padding-right: 0;
    width: 100%;
    background-color: #2e2e2e;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    background-color: #2e2e2e;
}

.nav__links {
    list-style: none;
    background-color: #2e2e2e;
    margin-left: 0px;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
    background-color: #2e2e2e;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
    background-color: #2e2e2e;
}

.nav__links li a:hover {
    color: #f87878;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: 'Playfair Display SC', sans-serif;
    padding-top: 5px;
}

.logout-button {
    margin-left: 5px;
    padding: 9px 25px;
    background-color: #F5100D;
    border: none;
    border-radius: 50px;
    width: 100px;
    height: 50px;

    cursor: pointer;
    transition: all 0.3s ease 0s
}

.logout-button:hover {
    background-color: #f87878;
}

.logout-button > p {
    background-color: rgba(0,136,169,0);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}

.logo {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    background-color: #2e2e2e;
}

.backgroundLogin {
    background-image: url('https://images.unsplash.com/photo-1493238792000-8113da705763?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backgroundSignUp {
    background-image: url('https://www.leipzig.travel/fileadmin/mediamanager/POI_Datenbank/11_Architektur/Porsche-Werk-Leipzig_Architektur-Teststrecke-Auto_leipzig.travel.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signUp {
    position: relative;
    right: 25%;
    border-radius: 4px;
    border: 1px solid black;
    background: hsl(36deg 100% 59% / 60%);
    width: 50%;
}


.signUp input,
.signUp textarea,
.signUp select {
  margin: 5px;
  width: 80%;
  height: 35px;
  border-radius: 2px;
  border: none;
}


.login-form {
    position: relative;
    right: 25%;
    border-radius: 4px;
    border: 1px solid black;
    background: hsl(36deg 100% 59% / 60%);
    height: 23%;
    width: 50%;
}

.loginButton {
    margin: auto;
    position: relative;
    margin-left: 35px;
    margin-right: 100px;
    width: 80%;
    height: 35px;
    border-radius: 5px;
    padding-bottom: 5px;
    bottom: 10px;
    font-family: "Montserrat", sans-serif;
}

.loginButton:hover {
    background-color: #f87878;
}

input {
    width: 200px;
    height: 27px;
}

.fields {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.profileTable {
    position: absolute;
}

.SignupB {
    margin: auto;
    position: relative;
    margin: 8px 100px 13px 35px;
    width: 80%;
    height: 35px;
    border-radius: 5px;
    padding-bottom: 5px;
    bottom: 10px;
    font-family: "Montserrat", sans-serif;
    background-color: #0C9FB7;
}

.DemoB {
    margin: auto;
    position: relative;
    margin-left: 35px;
    margin-right: 100px;
    width: 80%;
    height: 35px;
    border-radius: 5px;
    padding-bottom: 5px;
    bottom: 10px;
    font-family: "Montserrat", sans-serif;
    background-color: #ED7265;
    color: #08110A;
    font-weight: 600;
}

.description {
    margin-top: 5px;
    width: 320px;
    height: 130px;
    resize: none;
}
