.userHeader {
    width: 100%;
    padding-top: 5px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    background-color: whitesmoke;
}

.userHeader > h1{
    font-family: arial;
    text-decoration: underline;
    justify-content: flex-start;
    margin-bottom: 5px;
}

.email_vehicle {
    margin-bottom: 15px;
}

.email_vehicle > *{
    padding: 10px;
}

.profile_buttons {
    display: flex;
    justify-content: flex-start;
}

.profile_buttons > button {
    border-radius: 3px;
    width: 70px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.update_form {
    width: 100%;
}

.backgroundUpdate {
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
    width: 100%;
}

.update {
    position: relative;
    border-radius: 4px;
    border: 1px solid black;
    background: hsl(36deg 100% 59% / 60%);
    width: 50%;
}

.update input,
.update textarea,
.update select {
  margin: 5px;
  width: 80%;
  height: 35px;
  border: 2px solid black;
  border-radius: 2px;
  border: none;
}

.vehicle_user {
    width: 100%;
    display: flex;
    justify-content: center;
}

.vehicle_info {
    width: 40%;
}

.vehicle_info > img{
    width: 300px;
}
